.converter
    display: flex
    flex-direction: column
    width: 100vw
    height: 100vh
    padding-top: 60px
    background-color: #fafafa
    color: #333

h1
.convert
    padding: 10px 20px

.convert
    display: flex
    justify-content: space-between

.currency
    display: flex
    flex-direction: column
    align-items: center

.currency-label
    font-size: 20px

.country
    display: flex
    align-items: center
    margin-bottom: 10px

img
    height: 30px
    width: 30px
    margin: 0px 5px 0px 0px

.separator
    display: flex
    align-items: center
    color: gray
