*
*:before
*:after
    box-sizing: border-box

body
    width: 100vw
    height: 100vh
    line-height: 1.3
    padding: 0
    margin: 0
    font-family: 'Roboto', 'Helvetica Neue', arial, sans-serif
    background: #fafafa
    font-weight: 400
    color: #444
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale

svg
    transition: all 0.1s ease-out
    &:active
        transform: scale(0.8)

.scientific
    margin-left: auto

.history
    margin-left: 20px

